# unreal files
###################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*_BuiltData.uasset
BuildingEscape/Content/StarterContent/

# VS files
*.VC.db
*.suo
*/.vs/

Content/StarterContent/
